* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e4ee;
}
.book {
    display: flex;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}
/* Covers */
.cover ,
.back-cover {
    height: 300px;
    width: 260px;
    background: #353755;
    border-radius: 2px 10px 10px 2px;
    position: absolute;
    box-shadow: 1px 1px 40px grey;
    transform: rotateX(10deg);
    transform-origin: center left;
}
.cover {
    transition: transform 3s;
    z-index: 1;
}
.book:hover .cover {
    transform: rotateX(10deg) rotateY(-180deg);
    animation: cover 1ms 1s both;
}
@keyframes cover {
    0% {
        z-index: 10;
    }
    50% {
        z-index: 0;
    }
    100% {
        z-index: 0;
    }
}
.back-cover {
    z-index: -3;
}
/* Pages */
.page ,
.last-page {
    height: 280px;
    width: 250px;
    background: white;
    position: absolute;
    border-radius: 2px 5px 5px 2px;
    transform: rotateX(10deg);
    transform-origin: center left;
    z-index: -1;
}
.book:hover .page {
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}
.last-page {
    z-index: -2;
}
/* Page transitions */
/* First page: */
.page:nth-child(2) {
    background: yellow;
    transition-duration: 3s;
}
.book:hover .page:nth-child(2){
    animation: first 1ms 1.2s both;
    transition: 3s 0.2s;
}
@keyframes first {
    0% {
        z-index: 6;
    }
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}
/* Second page: */
.page:nth-child(3) {
    background: orange;
    transition-duration: 2.6s;
}
.book:hover .page:nth-child(3){
    animation: second 1ms 1.4s both;
    transition: 3s 0.4s;
}
@keyframes second {
    0% {
        z-index: 5;
    }
    50% {
        z-index: 2;
    }
    100% {
        z-index: 2;
    }
}
/* Third page: */
.page:nth-child(4) {
    background: red;
    transition-duration: 2.2s;
}
.book:hover .page:nth-child(4){
    animation: third 1ms 1.6s both;
    transition: 3s 0.6s;
}
@keyframes third {
    0% {
        z-index: 4;
    }
    50% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
/* Fourth page: */
.page:nth-child(5) {
    background: purple;
    transition-duration: 1.8s;
}
.book:hover .page:nth-child(5){
    animation: fourth 1ms 1.8s both;
    transition: 3s 0.8s;
}
@keyframes fourth {
    0% {
        z-index: 3;
    }
    50% {
        z-index: 4;
    }
    100% {
        z-index: 4;
    }
}
/* Fifth page: */
.page:nth-child(6) {
    background: blue;
    transition-duration: 1.4s;
}
.book:hover .page:nth-child(6){
    animation: fifth 1ms 1.8s both;
    transition: 3s 1s;
}
@keyframes fifth {
    0% {
        z-index: 1;
    }
    50% {
        z-index: 6;
    }
    100% {
        z-index: 6;
    }
}